<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KittenBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Maranville Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A4BD8101F0D324200AC3F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4BD8241F0D324200AC3F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4BD82F1F0D324200AC3F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A4BD8451F0D330C00AC3F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
